{% extends 'base.html' %}

{% block title %}
    HW_46_index
{% endblock %}

{% block menu %}
<li><a href="{% url 'add_task' %}">Добавить новую задачу</a></li>
{% endblock %}

{% block content %}
    <h1>To Do List</h1>
    {% for item in list_to_do %}
        <p>Название: <a class="task_in_index" href="{% url 'view_task' item.id %}">{{ item.name }}</a> </p>
        <p>Статус: {{ item.get_status_display }}</p>
        <p>Дата выполнения: {{ item.deadline|date:"d F Y"|default:"-" }}</p><br><br>
        <a class="update" href="{% url 'update_task' item.id %}">update</a>
        <a class="delete" href="{% url 'delete_task' item.id %}">delete</a>
        <hr>
    {% endfor %}
{% endblock %}
