{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HW_45</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container">
    <h1>To Do List</h1>
    {% for item in list_to_do %}
        <p>{{ item.description }} | {{ item.status }} | {{ item.deadline }}</p>
    {% endfor %}
    <p><a href="/new">Добавить новую задачу</a></p>

</div>
</body>
</html>
