{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HW_46_created</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container">
    <p>Created at: {{ task.created_at }}</p>
    <p>Task: {{ task.name }}</p><br>
    <p>Description: {{ task.description }}</p><br>
    <p>Deadline: {{ task.deadline|default:"-" }}</p><br>
    <p>status: {{ task.status }}</p><br>
    <br><br>
    <p><a href="/">На главную</a></p>
</div>
</body>
</html>
