{% extends 'base.html' %}

{% block title %}
    Update {{ task.name }}
{% endblock %}

{% block menu %}
    <li><a href="{% url 'main' %}">Home</a>
    <li><a href="{% url 'view_task' task.pk %}">Back to task view</a></li>
{% endblock %}

{% block content %}
    <h1>Редактирование {{ task.name }}</h1>
    <form action="{% url 'update_task' task.pk %}" method="POST">
        {% csrf_token %}
        <label for="name">Задача</label>
        <input type="text" name="name" id="name" value="{{ task.name }}" required><br>
        <label for="desc">Описание</label>
        <textarea name="description" id="desc" rows="5" cols="30">{{ task.description }}</textarea><br>
        <label for="status">Статус</label>
        <select id="status" name="status">
            {% for value, status in statuses %}
                <option value="{{ value }}">{{ status }}</option>
            {% endfor %}
        </select><br>
        <label for="deadline">К сроку</label>
        <input id="deadline" type="text" name="deadline" value="{{ task.deadline|date:"Y-m-d" }}"><br><br>
        <input type="submit" value="Исправить">
    </form>
{% endblock %}